#bottom-nav
  #goup
  .menu
    .menu-block.hidden-xs.hidden-sm.col-md-4.col-lg-4
        span.explore
            a(href='#') explore
        span.search
            a(href='/search') search
        span.showroom
            a(href='#') showroom
    .menu-block.hidden-xs.hidden-sm.col-md-4.col-lg-4.text-center
        span.signin
            a(href='#') sign in    
    .menu-block.hidden-xs.hidden-sm.col-md-4.col-lg-4.text-right
        span.follow(follow)
            a(href='#') follow
        span.info
            a(href='#') info
        span.language
            a(href='#') 中文


