#vipTop
  .navs
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      //- a(href='#')
      //-   img(src='/images/logo.png')
      ul
        li myVIP.
        li
          a(href="#") love
        li
          a.active(href="#") cart
        li
          a(href="#") order
        li
          a(href="#") profile
        li
          a(href="#") [Connection]
    .col-xs-12.col-sm-12.col-md-6.col-lg-6.text-right
      .pms
        button Message
        .span
          | 2
      .chat-btn
        button Chat Online
      .chat-text
        | lovely to meet,
        i
          | z wang
    .clearfix

