#vipAccountSidebar
	ul.nav
		li.active
			a
				span.compose-icon 
					| Compose
		li
			a 
				| messages
				span.number &nbsp(2)
		li
			a 
				| Invitations
				span.number &nbsp(2)
		li
			a 
				| sent
		li
			a 
				| archive
		li
			a 
				
				| trash

	form(ng-model="vipInboxSearch")
		input.search(type = "text" placeholder="Search").col-lg-10
		button(type="submit").addon.col-lg-2
			span.glyphicon.glyphicon-search


