#vip-my-connections-content
  .row
    .col-lg-6
      | My Connections
    .col-lg-6
      .form-group
        .col-lg-2.pull-right
          input.form-control(type='text', placeholder='Search')
  .row.connections
    .col-lg-4
      .media
        a.pull-left(href='#')
          img.media-object(src='...', alt='...')
        .media-body
          h4.media-heading Media heading
          | Kristine
    .col-lg-4
      .media
        a.pull-left(href='#')
          img.media-object(src='...', alt='...')
        .media-body
          h4.media-heading Media heading
          | Kristine

    .col-lg-4
      .media
        a.pull-left(href='#')
          img.media-object(src='...', alt='...')
        .media-body
          h4.media-heading Media heading
          | Kristine
  ul.pager
    li.previous.disabled
      a(href='#') ← Previous
    li.next
      a(href='#') Next →

