#vip-recent-news-sidebar
    .profile-info
        .row
          .col-lg-4.profile-pic
            img
            button edit
          .col-lg-8.profile-details
            h3 Zhe Wang
            p Founder at alovelything.com
            p Buyer
            p 27 connections
        .row.about-you
          .col-lg-12
            p
              | lakjsdlksj djasj djlkajs kldjlk sj dlkjal ksd jlks ajdlk lksajl dkjals jdlkjs alkdj lksaj ldjl sakj dlkjs alkjdl kasjl kdjlk sajdlk jsaf nnd,fn ljad fl

  .carousel-title You may also know
  #vipCarousel.carousel.slide
      .carousel-inner
        .item.active
          ul
            li
        .item
          ul
            li
      a.left.carousel-control(href='#vipCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#vipCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right

