#vipSidebar
  .profile
    .info
      .col-lg-4.headshot
        img.img-responsive(ng-src="/images/thumnail1.jpg")
        button Edit
      .col-lg-8.details
        h3.name Zhe Wang
        p.intro Founder at alovelything.com
        p.role Buyer
        p.connections 
          span.count 27 
          a(href="/vip/connections").connections Connections
    .about
      p I am a designer, fashion photographer. em Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

  .recommend
    h3 You may also know
    #carousel.carousel.slide(data-ride="carousel")
      .carousel-inner
        .item.active
          ul.list-inline
            li.col-lg-3
              a
                img.img-responsive(ng-src="/images/thumnail1.jpg")
              h4.name Kristina
              p.role Photographer  
            li.col-lg-3
              a
                img.img-responsive(ng-src="/images/thumnail2.jpg")
              h4.name Kristina
              p.role Photographer
            li.col-lg-3
              a
                img.img-responsive(ng-src="/images/thumnail3.jpg")
              h4.name Kristina
              p.role Photographer
            li.col-lg-3
              a
                img.img-responsive(ng-src="/images/thumnail4.jpg")
              h4.name Kristina
              p.role Photographer
        .item
          ul.list-inline
            li.col-lg-3
              a
                img.img-responsive(ng-src="/images/thumnail1.jpg")
              h4.name Kristina
              p.role Photographer  
            li.col-lg-3
              a
                img.img-responsive(ng-src="/images/thumnail2.jpg")
              h4.name Kristina
              p.role Photographer
            li.col-lg-3
              a
                img.img-responsive(ng-src="/images/thumnail3.jpg")
              h4.name Kristina
              p.role Photographer
            li.col-lg-3
              a
                img.img-responsive(ng-src="/images/thumnail4.jpg")
              h4.name Kristina
              p.role Photographer
      a.left.carousel-control(href='#carousel' role='button' data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#carousel' role='button' data-slide='next')
        span.glyphicon.glyphicon-chevron-right

