#vipOtherMemberProfileContent
  .row
    .col-lg-8
      .media
        a.pull-left(href='#')
          img.media-object(ng-src='/images/thumnail1.jpg')
        .media-body
          h4.heading
            | Kristine
          p.role
            |freelance photographer
          p.title
            |photographer
    
    .col-lg-4.recent-news
      a.pull-right
        | Back to recent news
  .row
    .col-lg-10.about
      p
        | hellos hi hello hi held ejdd djdjd djdlaj asdi asdk asdhk asd kasdk jadk 
    .col-lg-2.connection-info
      p
        span 27 
        | connections
      p
        | there are 9 designers and 5 buyers
  .row.lists
    p
      | lovely friends in common
    
    .row
      ul
        li
          a.pull-left(href='#')
            img.media-object(ng-src='/images/thumnail1.jpg')
          .media-body
            h4.media-heading.name Kristine
            p.role Photographer
        li
          a.pull-left(href='#')
            img.media-object(ng-src='/images/thumnail1.jpg')
          .media-body
            h4.media-heading.name Kristine
            p.role Photographer     
          


  .row
    .col-lg-12.alert-msg
      p
        | Sorry you can't see recent news unless other member connects with you

  .row
    .col-lg-12
      button.btn.btn-default(type='button') Invite to Connect	

      button.btn.btn-default(type='button') Back to Recent News
          