#vipAccountComposeContent
	form
		h4.title
			| New Message
		.col-lg-12
			input(type="text" placeholder="To").col-lg-5
		.col-lg-12
			input(type="text" placeholder="Enter a subject").col-lg-5
		.col-lg-12
			textarea(placeholder="Type a message").col-lg-5
		.btn-group
			button(type="submit").send Send
			button Cancel
			
			