#vipRecentNewsContent
  .top-bar
    .col-lg-8
      .form(ng-model="vipSort")
        select 
          option(value="All updates") All updates
          option(value="Most recent") Most Recent
          option(value="Most popular") Most popular
    .col-lg-4
      form(ng-model="vipSearch")
        .col-lg-8.pull-right
          input.search(type='text' placeholder='Search').col-lg-10
          button(type="submit").addon.col-lg-2
            span.glyphicon.glyphicon-search
  
  .updates

    .lists

      .col-lg-3.media-info
        .thumbnail
          img.media-object(ng-src='/images/thumnail1.jpg')
          .caption
            h5.name
              | Minne Hayes
            p.role
              | Photographer

      .col-lg-3.media-info
        .thumbnail
          img.media-object(ng-src='/images/thumnail1.jpg')
          .caption
            h5.name
              | Minne Hayes
            p.role
              | Photographer
        span.connection 

        p.duration
          | 1 day ago


      .col-lg-3.media-info
        .thumbnail
          img.media-object(ng-src='/images/thumnail1.jpg')
          .caption
            h5.name
              | Minne Hayes
            p.role
              | Photographer
        .span
      .col-lg-3.media-info
        .thumbnail
          img.media-object(ng-src='/images/thumnail1.jpg')
          .caption
            h5.name
              | Minne Hayes
            p.role
              | Photographer
        span.likes

        p.duration
          | 1 day ago

    



                
