#vipAccountInvitationContent
 
  
  ul.list-inline.pull-right.menu.col-lg-12
    li
      a
        |  Accept
    li
      a
        | Ignore
    
    li
      .form
        input(type="checkbox")

  .clearfix
  ul.messages
    li.media
      a.pull-left
        img.media-object(ng-src='/images/thumnail1.jpg')
      .media-body
        h4.col-lg-4.media-heading
          | Kristine
        ul.info.pull-right.list-inline
          li.date
            | 23 July
          li
            form
              input(type = "checkbox")
        .clearfix
        p.title
          | Kristine
      .btn-group
        button.accept Accept
        button.ignore Ignore

    li.media
      a.pull-left
        img.media-object(ng-src='/images/thumnail1.jpg')
      .media-body
        h4.col-lg-4.media-heading
          | Kristine
        ul.info.pull-right.list-inline
          li.date
            | 23 July
          li
            form
              input(type = "checkbox")
        .clearfix
        p.title
          | Kristine
      .btn-group
        button.accept Accept
        button.ignore Ignore
    
  
    
  
