#vip-profile-detail-content
  .row
    .col-lg-5
      .media
        a.pull-rightleft(href='#')
          img.media-object(src='...', alt='...')
        .media-body
          h4.media-heading
            | Kristine
    .col-lg-3.message
      button.btn.btn-default(type='button') message
    .col-lg-4.recent-news
      a.pull-right
        | recent news
  .row
    .col-lg-10.about-yourself
      p
        | hellos hi hello hi held ejdd djdjd djdlaj asdi asdk asdhk asd kasdk jadk 
    .col-lg-2.connection-info
      p
        | 27 connections
    .updates
      .row.update-info
        .col-lg-6.title
          p
            | loved 8 products
        .col-lg-6.time
          p.pull-right
            | 2 days ago
      .row.media
        .col-lg-12
          a.pull-left(href='#')
            img.media-object(src='...', alt='...')
          .media-body
            h4.media-heading
              | Minne has a new connection				
          