#vipMyConnectionsContent
  .top-bar
    .col-lg-8
      | My Connections
    .col-lg-4
      form(ng-model="vipSearch")
        .col-lg-8.pull-right
          input.search(type='text' placeholder='Search').col-lg-10
          button(type="submit").addon.col-lg-2
            span.glyphicon.glyphicon-search
  .connections
    .col-lg-4
      .media
        a.pull-left(href='#')
          img.media-object(ng-src='/images/thumnail1.jpg')
        .media-body
          h4.media-heading Media heading
          | Kristine
    .col-lg-4
      .media
        a.pull-left(href='#')
          img.media-object(ng-src='/images/thumnail1.jpg')
        .media-body
          h4.media-heading Media heading
          | Kristine

    .col-lg-4
      .media
        a.pull-left(href='#')
          img.media-object(ng-src='/images/thumnail1.jpg')
        .media-body
          h4.media-heading Media heading
          | Kristine
  ul.pager
    li.previous.disabled
      a(href='#') ← Previous
    li.next
      a(href='#') Next →



