#vipRecentNewsContent
  .row
    .col-lg-6
      .form(ng-model="vipSort")
        select
          option(value="All updates")
          option(value="Most recent")
          option(value="Most popular")
    .col-lg-6
      .form(ng-model="vipSearch")
        .col-lg-2.pull-right
          input.form-control(type='text' placeholder='Search')
  
  .row.lists
    .col-lg-12
      a.pull-left(href='#')
        img.media-object(ng-src='/images/thumnail1.jpg')
      .media-body
        h4.media-heading
          | Minne has a new connection
        h4.media-duration.pull-right
          | 1 day ago
        .media
          ul
            li
              a.pull-left(href='#')
                img.media-object(ng-src='/images/thumnail1.jpg')
              .media-body
                h4.media-heading.name Kristine
                p.role Photographer
            li
              a.pull-left(href='#')
                img.media-object(ng-src='/images/thumnail1.jpg')
              .media-body
                h4.media-heading.name Kristine
                p.role Photographer
