#vipTop
  .col-xs-12.col-sm-12.col-md-6.col-lg-6
    ul.list-inline
      li myVIP.
      li
        a(href="#") love
      li
        a.active(href="#") cart
      li
        a(href="#") order
      li
        a(href="#") profile
      li
        a(href="#") [Connection]
  .col-xs-12.col-sm-12.col-md-6.col-lg-6.text-right
    .contact
      .btn-group
        button.msg.dropdown-toggle(data-toggle="dropdown") Message
        ul.dropdown-menu

          li.media
            a.pull-left
              img.media-object(ng-src='/images/thumnail1.jpg')
            .media-body
              h4.media-heading
                | Kristine
                span.date.pull-right 23 july
              p.title
                | Kristine
            p.msg
              |hello how ar you today
          li.media
            a.pull-left
              img.media-object(ng-src='/images/thumnail1.jpg')
            .media-body
              h4.media-heading
                | Kristine
                span.date.pull-right 23 july
              p.title
                | Kristine
            p.msg
              |hello how ar you today
            
          li.footer
            p.unread.col-lg-8 
              | Unread messages(2)
            p.compose.pull-right 
              | Compose

        
      
        button Chat Online
    .welcome
      | lovely to meet,
      i
        | z wang

