#vipProfileDetailContent
  .row
    .col-lg-5.media
      a.pull-left(href='#')
        img.media-object(ng-src='/images/thumnail1.jpg')
      .media-body
        h4.heading
          | Kristine
        p.role
          |freelance photographer
        p.title
          |photographer

    .col-lg-3.message
      button.btn.btn-default(type='button') message
    .col-lg-4.recent-news
      a.pull-right
        | recent news
  .row
    .col-lg-10.about
      p
        | hellos hi hello hi held ejdd djdjd djdlaj asdi asdk asdhk asd kasdk jadk 
    .col-lg-2.connection-info
      p
        | 27 
        span connections


    
  .row.lists
    .col-lg-6.title
      p
        | has 2 lovely connections
    .col-lg-6.time
      p.pull-right
        | 2 days ago
    .row
      ul
        li
          a.pull-left(href='#')
            img.media-object(ng-src='/images/thumnail1.jpg')
          .media-body
            h4.media-heading.name Kristine
            p.role Photographer
        li
          a.pull-left(href='#')
            img.media-object(ng-src='/images/thumnail1.jpg')
          .media-body
            h4.media-heading.name Kristine
            p.role Photographer			
          