#account-top
	
	ul
		margin-left:10%
		margin-top:1%
		li
			font-size:16px
			color:#000
			padding:10px
			display:inline-block
			font-weight:600

			a
				color: #929292
				font-size:16px
				font-weight:100

				&:hover
					text-decoration:none

	.navs
		background-color:#f6f6f6
		box-shadow 0 0 4px 2px #d4d4d4
		height:85px

		
			


			

		.chat-text
			color: #929292
			margin-top:10px
			font-size:16px
			font-weight:100
			padding-right:30px

			i
				color:#000


		.chat_btn 
			margin-top:10px
			margin-right:30px
			text-align:left
			font-size: 11px
			padding: 2px
			padding-left:10px
			width: 115px
			height: 25px
			border-radius: 2px
			background: #d1d1d1 url(/images/speechbubble.png) 92% 5px no-repeat
			font-weight: 600
			border:0

	

	.lists
			
		ul
			margin-left:5%
			
			li
				a
					text-transform:uppercase
