#brand-sidebar
	
	height:100%
	background: #f6f6f6;
	padding: 40px;
	left:0;
	font-family: 'PT Sans';
	font-weight:bold;
	color: #000;
	position:fixed
	width:inherit;
	
	.title 
		font-size: 30px;
		margin-top: 20%;
		text-align:right;
		font-weight 700

	.misc
		margin: 20px 0;

		a 
			margin-right: 10px;
			font-size: 12px;
			color: #929292;
			text-decoration: none;
			

			&.follow
				padding 3px 14px
				margin-left 25%
				color #000
				border 1px solid #000
				transition all 0.5s ease
				&:hover
					color white
					background-color black

	.brand-info

		font-size: 14px;
		padding: 20px 0;
		font-weight:lighter;
		border-bottom: 2px solid #ccc;
		border-top: 2px solid #ccc;
		text-align: left;
		color #646464


	.brand-menu

		padding-top: 40px;
		

		ul
			list-style-type:none;
			text-align:right;
			margin-right:-40px;

			li

				padding:8px 0;
				padding-right:40px;
				background: url(/images/icons-100.png) -60px center no-repeat transparent;
				transition: all 4s ease-in 0s

				
				
				&.active

					background: url(/images/icons-100.png) right center no-repeat transparent;

					
					
						

					a
						 color:#000;


				a

					color: #929292;
					font-size: 22px;
					font-weight: normal;
					padding: 10px 0;
					text-decoration:none;

					&:hover
						color:#000;



				>ul 
					position: absolute;
					width: 63%;
					margin-top: -13%;
					left: 0;

					li
						
						padding:6% 0;
						display:inline-block;
						margin-right:10%


						&:first-child
							margin-right:13%;


						
		.product-tab
			width:250px
			li
				float:left
				transition:none 
				&.all.onshow
					background: url('/images/shape.png') center center no-repeat 
				&.featured.onshow
					background: url('/images/shape.png') 72% center no-repeat 
				
						
						
@media (max-width: 991px)
	
	#brand-sidebar
		position:relative;
		top:45px;
		padding: 15px;	
		padding-bottom:0;	
		margin-left:-15px;
		margin-right:-15px;
		width:auto;			
		.title 
			font-size: 30px;
			margin-top: 1%;
			text-align:left;

		.misc
	
			a.follow
				padding: 7px 10px;
				margin-left:1%;
				color: #000;
				border: 1px solid #000;


		.brand-menu

			padding-top: 10px;
		

			ul
				
				text-align:left;
				height:100px;


				li
					float:left
					padding:0;
					padding-left:10px;
					background:transparent;
					&.active
						background:transparent;
						

						a
							background: url(/images/icons-100.png) 1px bottom repeat-x transparent
							
							


					a

						padding: 10px 0;
					

					>ul 
						
						position: static;
						width: 70px;
						margin-top: 1%;
						left: 0;
						height:auto;

						li
							
							padding:0;
							display:inline-block;
							margin-right:0;


							&:first-child
								margin-right:0;

							


							
			.product-tab
				width:250px
				margin-top:-50px
				li
					float:left
					padding-right:10px
					transition:none 
					&.all.onshow
						
						background: url('/images/shape.png') 36px center no-repeat	 
					&.featured.onshow
						background-position:92px center