#featured
  max-width 100%
  position relative
  width 100%
  z-index 120
  #control
    bottom 100px
    left 0
    margin auto
    position fixed
    right 0
    width 144px
    li
      color #fff
      float left
      font italic 100 12px/46px 'PT Sans'
      height 46px
      margin-left 7px
      margin-right 7px
  #parallax
    #feature-1,
    #feature-2,
    #feature-3
      color white
      height 1200px
      margin 0 auto
      padding 0
      width 100%
