#product-sidebar
	

	.info 
		padding-left:30px
		padding-right:30px
		.parent
			color:#000
			font-weight:700
			font-size:14px

			button
				border:none
				background-color:transparent
				background-repeat:none
				outline:none

			

			button:first-child
				margin-left:15px

			input
				width:10%
				border-radius:4px

			.child
				display:inline-block
				*display:inline
				*zoom:1
				color:#000
				color:#929292	
				
				li

					display:inline-block
					*display:inline
					*zoom:1
					margin:10px 20px 10px 20px
		
				li:first-child
					margin-left:38px
				li:last-child
					margin-right:0

		.parent.size
			border-bottom: 2px solid #cbcbcb
			padding-bottom:10px
			margin-bottom:10px
				

			.child
				li
					margin-left:58px;
				li:nth-child(2)
					margin-left:10px;				
					
				
		button.addtocart
			margin-top: 10px
			font-family: "pt-sans", "source sans pro"
			margin-left: 20px
			width: 150px
			height: 45px
			font-size: 15px
			background-color: #969696
			color: white
			text-shadow: 2px 3px 3px #727272
			font-weight: 700
			border-radius: 2px
			border:none
			outline:none
		
		.smalllink
			text-align: right;
			margin-right:2px
			height: 40px;
			margin-top:10px
			font-size: 10px;
			
			font-weight: 100;
			
			text-decoration: underline;

				a 
					color:#929292
					display:block
			
				
					
				
	#gallery
		margin-left:20px
		
		li
			margin-left:5px


