#products
  li
    .product-cover
      width 100%
      background white
      opacity 0.9
      &:hover
        transition all 0.5s ease
        opacity 1
        background black
    .tag
      position absolute
      left 0
      bottom 0
      width 95%
      margin-bottom 10px
      .tag-trigger
        display table-cell
        width 33.33%
        height 100px
        vertical-align bottom
        text-align center
        cursor pointer
      .tag-info
        visibility hidden
        background-color rgb(255, 255, 255)
        border 1px solid #ebebeb
        border-radius 3px
        font 100 1em/1.2 'PT Sans'
        color #000
        padding 15px
        text-decoration underline
        a
          color black
        .small-button
          background-color rgb(179, 179, 179)
          border-radius 3px
          clear both
          color rgb(255, 255, 255)
          display block
          font-size 0.75em
          font-weight 300          
          line-height 1.38
          margin 10px 0 0 0
          text-align center
          border none
          width 90px
          &:hover
            transition all 0.6s ease
            background-color black
        img
          margin-top 8px
          margin-left 10px
          opacity 0.3
          &:hover
            transition all 0.6s ease
            opacity 1

        .shadow
          width 60%
          margin-top -20px
