#signin-top .lists {
  margin-left: 0;
  height: 60px;
  padding: 10px;
}
#signin-top .lists li {
  float: left;
}
#signin-top .lists li:first-child a {
  background: transparent;
  margin-left: 15px;
}
#signin-top .lists li a {
  text-transform: uppercase;
  margin-left: 5px;
  font-size: 16px;
  color: #929292;
  padding: 10px;
  padding-left: 20px;
  display: inline-block;
  background: url("/images/navi_dot.png") 0px 15px no-repeat;
}
