#signin-sidebar
	position fixed
	font-family 'PT Sans'
	background-color: #3e3e3e
	height 100%
	input
		border:0
		font-size:16px
		background-color:transparency
		margin:10px 6px
		padding-left 10px
			
			
			
		&:hover,&:focus,&.active
			border:0
			outline:0

	.login
		
		background-color:#fdfdfd
		padding:50px
		padding-top:55px
		color:#000
		font-size:20px
		font-weight:800
		height 250px

	
		.login-title
			border-bottom:2px solid #ccc
			margin-bottom:10px
			padding-bottom:10px
		
		.forget
			color:#929292
			font-weight 100
			font-size:12px
			text-decoration underline
			margin-top:5%

			
		.email-style:after,.password-style:after
			content:"]"
			position:absolute
			font-size:25px
			
		.email-style:before,.password-style:before
			content:"["
			position:absolute
			left:34px
			font-size:25px
		.password-style:after,.password-style:before
			top:148px



		.submit
			margin-left 0
			border:1px solid #000
			width:60px
			color:#000
			background-color white
			font-size:14px
			font-weight 700
			text-align center
			

		label

			color:#929292
			font-size:12px


			input
				margin-top: 15px


	.signup
		background-color: #3e3e3e
		color:#fff
		padding:35px
		padding-top 15px
		
		.title
			font-size: 18px
		
		.vip
			font-weight:700

		.member
			border-top: 2px solid #626262
			border-bottom: 2px solid #626262
			padding-top:15px
			padding-bottom:10px
			margin-top:10px
			margin-bottom:10px


			.social-login
				margin:0
				margin-bottom:15px

				.social

					li 
						float:left
						padding-left:10px

						a 
							img
								width:22px
								height:20px
								margin-right 6px
								opacity 0.8
								transition all 0.5s ease
			
									
			.local-signin
					input
						background-color:#3e3e3e
						font-weight:700
						padding-left:10px
						padding-right:5px

					input.lname
						padding-left:15px

					.submit
						border:1px solid #fff
						width:50px
						color:#fff
						font-size:14px

					label
						font-size:12px

					.first-name-style:after,.last-name-style:after,.email-style:after,.password-style:after
						color:#ccc
						content:"]"
						position:absolute
						font-size:25px
						font-weight:700
				
					.first-name-style:before,.last-name-style:before,.email-style:before,.password-style:before
						color:#ccc
						content:"["
						position:absolute
						left:0
						font-size:25px
						font-weight:700

					.last-name-style:before
						left:5px

					label
						input
							margin-left 0px
							margin-bottom -15px
							font-weight 100
					        color #aeaeae
					label
						input
							.submit
								width 100px
			.vip
				margin-top 5px


