#vipAccountTrashContent
	margin-right:98px
	margin-left:20px
	margin-top:10px
	color:#000
	font-size:13px

	.menu
		padding-bottom:40px
		border-bottom:2px solid #d3d3d3

		li
			padding-left:40px
			
			a
				color:#e2e2e2
				font-weight:600
				text-decoration:none

				.trash-img
					margin-right:3px
					display:inline-block	
					height:20px
					width:105px
					padding-left:25px
					background:url('/images/trash.jpg') 0% -7px no-repeat

				.recovery
					margin-right:0
					display:inline-block	
					height:20px
					width:85px
					padding-left:30px
					background:url('/images/recovery.jpg') 0% -3px no-repeat


			

			&:first-child
				padding-left:0

		select
			outline:none
			border:0
			background-color:transparent
			font-weight:600
			margin-top:5px
			width:105px
			-webkit-appearance: none
			-moz-appearance: none
			text-indent: 1px
			text-overflow: ''
			background: transparent url("/images/select-img.jpg") 103% 1px no-repeat

	.messages
		margin-top:20px
		font-weight:600

		li.media
			padding-bottom:10px
			border-bottom:2px solid #d8d8d8
			
			a

				color:#000
				font-weight:600
				text-decoration:none	

			h4
				font-weight:600

			.desc
				color:#e2e2e2