#vipMyConnectionsContent
	padding:20px
	width:890px

	.top-bar
		margin-bottom:20px
		padding-bottom:20px
		border-bottom:2px solid #d3d3d3
		height:60px

		select
			outline:none
			border:0
			background-color:transparent
			font-weight:600
			margin-top:12px
			width:98px
			-moz-appearance: none;
			-webkit-appearance: none;
			background: transparent url("/images/speechbubble.png") 110% 2px no-repeat;

		form
			input
				&.search
					height:40px
					border:2px solid #d3d3d3
					border-right:0
					outline:none
					color:#646464
					padding-left:10px

					&:focus
						border:2px solid #d3d3d3
						border-right:0

			.addon
				height:40px

			button
				background-color:transparent
				border:2px solid #d3d3d3
				border-left:0
				outline:none

				&:focus
					outline:none
					border:2px solid #d3d3d3
					border-left:0
				
				.glyphicon
					color:#d1d1d1