#vipTop
	height:70px
	background-color:#000
	font-size:15px
	color: #929292
		
	ul
		margin-top:7%
		
		
		&.list-inline
			margin-left:7%
			li
				color:#fff
				font-weight:600
				margin-left:10px
				a
					color: #929292
					text-decoration:none
					font-weight:100

				&:last-child a
						color:#fff
						font-weight:600
	.btn-group
		button
			margin-top:10px
			margin-right:10px
			color:#000
			text-align:left
			font-size: 11px
			padding: 2px
			padding-left:10px
			width: 100px
			height: 25px
			border-radius: 2px
			background: #d1d1d1 url(/images/speechbubble.png) 92% 5px no-repeat
			font-weight: 600
			border:0

			&.msg
				width: 90px



	.welcome
		margin-top:10px
		margin-right:2%
		i
			color:#fff
			font-weight:600

	.dropdown-menu
		border-radius:0
		
		border:4px solid #000
		width:260px
		left:-80%
		li
			padding:5px
			border-bottom:1px solid #929292
			margin-top:0
			a
				padding:5px;
				img
					width:35px
			.media-body>.pull-left
				margin-right:0

			.media-heading,.date,.title
				font-size:12px
				font-weight:800
				color:#000
				margin:0
				margin-top:15px

			.title
				margin:0
				font-weight:500
			.date
				margin:0

		li.footer 
			border:0
			font-size:12px
			font-weight:800
			color:#000
			p
				margin:0
				margin-top:7px
