#vipRecentNewsContent {
  padding: 20px;
  width: 890px;
}
#vipRecentNewsContent .top-bar {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d3d3d3;
  height: 60px;
}
#vipRecentNewsContent .top-bar select {
  outline: none;
  border: 0;
  background-color: transparent;
  font-weight: 600;
  margin-top: 12px;
  width: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  font-size: 13px;
  background: transparent url("/images/select-img.jpg") 94% 1px no-repeat;
}
#vipRecentNewsContent .top-bar h5.other-profile {
  margin-top: 14px;
  color: #888;
  display: none;
}
#vipRecentNewsContent .top-bar form input.search {
  height: 40px;
  border: 2px solid #d3d3d3;
  border-right: 0;
  outline: none;
  color: #646464;
  padding-left: 10px;
}
#vipRecentNewsContent .top-bar form input.search:focus {
  border: 2px solid #d3d3d3;
  border-right: 0;
}
#vipRecentNewsContent .top-bar form .addon {
  height: 40px;
}
#vipRecentNewsContent .top-bar form button {
  background-color: transparent;
  border: 2px solid #d3d3d3;
  border-left: 0;
  outline: none;
}
#vipRecentNewsContent .top-bar form button:focus {
  outline: none;
  border: 2px solid #d3d3d3;
  border-left: 0;
}
#vipRecentNewsContent .top-bar form button .glyphicon {
  color: #d1d1d1;
}
#vipRecentNewsContent .updates .lists .media-info .thumbnail {
  padding-top: 20px;
  margin-right: 10px;
  border: 0;
  background-color: #e2e2e2;
  position: relative;
  z-index: 1;
}
#vipRecentNewsContent .updates .lists .media-info .caption {
  text-align: center;
}
#vipRecentNewsContent .updates .lists .media-info .caption .name {
  font-weight: 600;
  font-size: 18px;
}
#vipRecentNewsContent .updates .lists .media-info .duration {
  text-align: right;
  color: #d3d3d3;
  margin-right: 25px;
}
#vipRecentNewsContent .updates .lists .media-info .connection,
#vipRecentNewsContent .updates .lists .media-info .likes {
  background-image: url("/images/facebook.png");
  height: 89px;
  width: 94px;
  position: absolute;
  top: 20%;
  left: -25%;
  z-index: 1;
}
#vipRecentNewsContent .updates .lists .media-info:nth-child(2) .thumbnail {
  margin-right: 25px;
}
#vipRecentNewsContent .updates .lists .media-info:last-child .thumbnail {
  margin-right: 0;
}
#vipRecentNewsContent .updates .lists .media-info:last-child .duration {
  margin-right: 0;
}
#vipRecentNewsContent .not-connected {
  display: none;
}
#vipRecentNewsContent .not-connected h5 {
  color: #888;
}
#vipRecentNewsContent .not-connected .btn-group button {
  margin-top: 10px;
  margin-right: 10px;
  color: #646464;
  font-size: 12px;
  padding: 2px;
  text-align: center;
  width: 130px;
  height: 20px;
  border-radius: 2px;
  background-color: #d1d1d1;
  font-weight: 800;
  border: 0;
}
#vipRecentNewsContent .not-connected .btn-group button.connect {
  background-color: #646464;
  color: #fff;
}
