#vipSidebar
	background: #f6f6f6
	padding: 20px

	.info
		height:120px
		
		.details
			font-color:#000
		
			.name
				margin-top:10px
				font-weight:600
				font-size:20px
				margin-bottom:5px
		
			.intro
				font-size:15px
				margin-bottom:5px

			.role
				color: #646464

			.connections
				.count
					font-weight:600
				a
					color:#646464
					text-decoration:underline

	
		.headshot
			button
				margin-top:10px
				margin-right:10px
				color:#666
				text-align:center
				font-size: 12px
				padding: 2px
				padding-top:5px
				padding-left:0
				width: 80px
				height: 25px
				border-radius: 2px
				font-weight: 600
				border:0
				background-color:#d1d1d1


	.about

		margin-top:50px
		margin-bottom:50px
		padding-top:20px
		font-size:16px
		color:#646464
		border-top:2px solid #646464


	.recommend
		margin-bottom:70px
		h3
			font-size:16px
			font-weight:600

		.name
			display:none
			font-size:16px
			font-weight:600
			margin-bottom:0
		
		.role
			display:none	
			font-size:10px
			color:#646464	
			margin-bottom:0

		.carousel-control 
			width:0
			color:#000



		
			
			&.left,&.right
				background-image:none


				&.left
					left:-26px
				&.right
					right:-20px

			.glyphicon-chevron-left, .icon-prev, .glyphicon-chevron-right
				font-size:19px
				top:36px

			.glyphicon-chevron-left
				margin-left:0
				left:-62%

			.glyphicon-chevron-right
				margin-right:0
				right:-50%
			
				

	




