#vipAccountTrashContent {
  margin-right: 98px;
  margin-left: 20px;
  margin-top: 10px;
  color: #000;
  font-size: 13px;
}
#vipAccountTrashContent .menu {
  padding-bottom: 40px;
  border-bottom: 2px solid #d3d3d3;
}
#vipAccountTrashContent .menu li {
  padding-left: 40px;
}
#vipAccountTrashContent .menu li a {
  color: #e2e2e2;
  font-weight: 600;
  text-decoration: none;
}
#vipAccountTrashContent .menu li a .trash-img {
  margin-right: 3px;
  display: inline-block;
  height: 20px;
  width: 105px;
  padding-left: 25px;
  background: url("/images/trash.jpg") 0% -7px no-repeat;
}
#vipAccountTrashContent .menu li a .recovery {
  margin-right: 0;
  display: inline-block;
  height: 20px;
  width: 85px;
  padding-left: 30px;
  background: url("/images/recovery.jpg") 0% -3px no-repeat;
}
#vipAccountTrashContent .menu li:first-child {
  padding-left: 0;
}
#vipAccountTrashContent .menu select {
  outline: none;
  border: 0;
  background-color: transparent;
  font-weight: 600;
  margin-top: 5px;
  width: 105px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: transparent url("/images/select-img.jpg") 103% 1px no-repeat;
}
#vipAccountTrashContent .messages {
  margin-top: 20px;
  font-weight: 600;
}
#vipAccountTrashContent .messages li.media {
  padding-bottom: 10px;
  border-bottom: 2px solid #d8d8d8;
}
#vipAccountTrashContent .messages li.media a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
#vipAccountTrashContent .messages li.media h4 {
  font-weight: 600;
}
#vipAccountTrashContent .messages li.media .desc {
  color: #e2e2e2;
}
