#vipAccountMailDetailsContent
	margin-right:98px
	margin-left:20px
	margin-top:10px
	color:#000
	font-size:13px

	.menu
		padding-bottom:15px
		border-bottom:2px solid #d3d3d3

		li
			padding-left:40px
			
			a
				color:#000
				font-weight:600
				text-decoration:none

				&.trash
					color:#d3d3d3

			&:first-child
				padding-left:0

			select
				outline:none
				border:0
				background-color:transparent
				font-weight:600
				color:#d3d3d3

	.media
		.media-body
			h4
				font-size:24px
				font-weight:600
			.title
				font-size:16px
			
		.timestamp
			font-weight:600
			font-size:14px
			color:#d3d3d3
					
	.messages

		li	
			height:57px
			background-color:#f6f6f6
			overflow:hidden
			border-bottom:2px solid #d3d3d3
			padding:10px
			width:70%
			
			&.active
				height:auto
				background-color:transparent
				border-bottom:0

				.desc
					font-weight:500
					color:#646464
					background-color:#f6f6f6
					width:auto

			.timestamp
				color:#d3d3d3
				text-align:right

			h4
				margin-top:0
				margin-bottom:4px
				font-weight:600
				font-size:15px

			.desc
				font-weight:600
				color:#646464

			.reply
				text-align:right
				font-weigth:600
				font-size:15px

	textarea
		resize:none
		width:70%
		height:200px
		background-color:#f6f6f6
		border:1px solid #d3d3d3
		margin-bottom:50px
		padding-left:10px

		&:focus
			outline:none
			border:1px solid #d3d3d3
