script(src="/vendor/jquery/dist/jquery.min.js")
script(src="/vendor/angular/angular.min.js")
script(src="/vendor/angular-resource/angular-resource.js")
script(src="/vendor/angular-route/angular-route.js")
script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src='/vendor/jquery-bridget/jquery.bridget.js')
script(src='/vendor/get-style-property/get-style-property.js')
script(src='/vendor/get-size/get-size.js')
script(src='/vendor/eventEmitter/EventEmitter.js')
script(src='/vendor/eventie/eventie.js')
script(src='/vendor/doc-ready/doc-ready.js')
script(src='/vendor/matches-selector/matches-selector.js')
script(src='/vendor/outlayer/item.js')
script(src='/vendor/outlayer/outlayer.js')
script(src="/vendor/masonry/dist/masonry.pkgd.min.js")
script(src="/vendor/imagesloaded/imagesloaded.js")
script(src='/vendor/angular-masonry/angular-masonry.js')
script(src='/vendor/underscore/underscore.js')

script(src="/app/app.js")
script(src="/app/ctrl.js")
script(src="/app/directive.js")
script(src="/app/factory.js")
script(src="/app/filter.js")

script(src='/js/jquery.localScroll-1.3.5.min.js')
script(src='/js/jquery.inview.min.js')
script(src='/js/jquery.scrollTo-1.4.12.min.js')
script(src='/js/jquery.parallax-1.1.3.js')
script(src="/js/jquery.elevateZoom-3.0.8.min.js")
script(src="/js/jquery.goup.min.js")
script(src="/js/jquery.easing.1.3.js")
script(src="/js/jquery.hoverIntent.min.js") 
script(src="/js/scripts.js")
